@import url(./components/normalize.css);
@import url(./components/header.css);
@import url(./components/scrollbar.css);
@import url(./components/media/media__header.css);
@import url(./components/why.css);
@import url(./components/media/media__why.css);
@import url(./components/requierements.css);
@import url(./components/media/media__requierements.css);
@import url(./components/additional.css);
@import url(./components/media/media__additional.css);
@import url(./components/cheme.css);
@import url(./components/media/media__scheme.css);
@import url(./components/testimonials.css);
@import url(./components/recommendation.css);
@import url(./components/media/media__testimonials.css);
@import url(./components/media/media__recommendation.css);
@import url(./components/news.css);
@import url(./components/media/media__news.css);
@import url(./components/form.css);
@import url(./components/media/media__form.css);
@import url(./components/progession.css);
@import url(./components/media/media__profession.css);
@import url(./components/footer.css);
@import url(./components/media/media__footer.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color-all: #080808;
    --title-color-second: #0FA4AE;
    --bg-testimonials: #ACE6EA;
    --subtitle-color: #555555;
    --background-color: #ACE6EA;
    --button-color: #461DBA;
    --white-color: #ffffff;
    --background-color-transparent: rgba(255, 255, 255, 0.90);
    --main-fonts: 'Montserrat', sans-serif;
    --second-fonts: 'Raleway', sans-serif;
    --box-background: rgba(255, 255, 255, 0.60);
    --color-ats-primary: #4527a0;
    --color-ats-secondary: #6a1b9a;
    --color-light: #fff;
    --color-1: #0f2027;
    --color-2: #203a4300;
    --color-3: #2c536400;
}

.wrapper {
    display:  flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 17px 0 18px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    resize: none;
    width: 100%;
}

body {
    font-family: var(--main-fonts);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}