@import url(./components/normalize.css);
@import url(./components/header.css);
@import url(./components/scrollbar.css);
@import url(./components/media/media__header.css);
@import url(./components/why.css);
@import url(./components/media/media__why.css);
@import url(./components/requierements.css);
@import url(./components/media/media__requierements.css);
@import url(./components/additional.css);
@import url(./components/media/media__additional.css);
@import url(./components/cheme.css);
@import url(./components/media/media__scheme.css);
@import url(./components/testimonials.css);
@import url(./components/recommendation.css);
@import url(./components/media/media__testimonials.css);
@import url(./components/media/media__recommendation.css);
@import url(./components/news.css);
@import url(./components/media/media__news.css);
@import url(./components/form.css);
@import url(./components/media/media__form.css);
@import url(./components/progession.css);
@import url(./components/media/media__profession.css);
@import url(./components/footer.css);
@import url(./components/media/media__footer.css);
@import url(./components/blog/header__blog.css);
@import url(./components/blog/media/media__header-blog.css);
@import url(./components/article/article.css);
@import url(./components/article/media/media__article.css);
@import url(./components/doctor__salary.css);
@import url(./components/media/media__doctor-salary.css);
/* @import url(./components/article-allergy/article-allergy.css); */
/* @import url(./components/article-allergy/media/media__article-allergy.css); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color-all: #080808;
    --title-color-second: #0fa4ae;
    --breadcrumbs: #3ba9b2;
    --bg-testimonials: #ace6ea;
    --subtitle-color: #555555;
    --background-color: #ace6ea;
    --background-color-bg3: rgb(173, 231, 235, 0.3);
    --button-color: #461dba;
    --hover-btn: #3f1aa5;
    --white-color: #ffffff;
    --background-color-transparent: rgba(255, 255, 255, 0.9);
    --main-fonts: "Montserrat", sans-serif;
    --second-fonts: "Raleway", sans-serif;
    --box-background: rgba(255, 255, 255, 0.6);
    /* --color-ats-primary: #4527a0;
    --color-ats-secondary: #6a1b9a;
    --color-light: #fff;
    --color-1: #0f2027;
    --color-2: #203a4300;
    --color-3: #2c536400; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 17px 0 18px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

:focus,
:active {
    outline: none;
}

:focus {
    /* color: red; */
    text-decoration: underline #461dba;
}

a:focus,
a:active {
    outline: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button:focus {
    outline: none;
}

textarea {
    resize: none;
    width: 100%;
}

body {
    font-family: var(--main-fonts);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.valid:focus {
    outline: green solid;
}

.invalid:focus {
    outline: red solid;
}

iframe {
    border-radius: 10px;
    width: 100%;
    margin: 0 0 30px 0;
}

picture {
    display: flex;
    justify-content: center;
}
/* :focus {
    outline: red solid;
} */
/* .custom-select:required {
    background-color: red;
    border: 5px;
} */
/* #selespecializationct:required:invalid {
    color: red;
} */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.active-overlay {
    display: block;
}

.dropdown-list {
    /* max-width: 1200px; */
    /* height: 300px; */
    position: fixed;
    /* position: absolute; */
    background-color: var(--white-color);
    border-radius: 20px;
    z-index: 10000;
    padding: 20px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    display: none;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgba(85, 85, 85, 0.50); */
}
.active-dropdown-list {
    display: flex;
}

.dropdown-title {
    margin: 0 0 20px 0;
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
    font-family: var(--main-fonts);
}

.selected-specializations {
    /* position: relative; */
    /* background-color: var(--white-color); */
    /* border-radius: 10px; */
    /* min-height: 54px; */
    /* width: 100%; */
    /* margin: 0 0 20px 0; */
    /* display: flex; */
    /* align-items: center; */
    /* padding: 0 20px; */
    /* font-family: var(--second-fonts); */
    /* font-size: 14px; */
    /* line-height: 14px; */
    /* cursor: pointer; */
    /* border: 1px solid rgba(85, 85, 85, 0.50); */
    /* gap: 10px; */
    /* flex-wrap: wrap; */
}

.specialization-items input {
    margin: 0;
    padding: 0;
    height: 100%;
}

.specialization-items {
    display: flex;
    gap: 40px;
    padding: 20px 40px 40px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 25%;
    white-space: nowrap;
    /* gap: 16px; */
}

.item label,
.filter-container label,
.filter-container input,
.item input {
    display: flex;
    gap: 8px;
    cursor: pointer;
    color: var(--text-color-all);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 400;
    line-height: 32.2px;
}

/* .selected-specializations:after {
    top: 25px;
} */

#select-button {
    margin: 0 auto;
}

.close-dropdown {
    position: absolute;
    top: -5%;
    right: -5%;
}
.close-dropdown img {
    pointer-events: none;
}
.checked-element {
    /* border-radius: 10px; */
    /* background-color: #EBFBFC; */
    /* display: flex; */
    /* padding: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 8px; */
    /* white-space: nowrap; */
    /* margin: 5px; */
    /* color: var(--text-color-all); */
    /* font-family: var(--second-fonts); */
    /* font-size: 14px; */
    /* line-height: 14px; */
}

.delete-btn {
    margin-left: 8px;
}

.number-selected {
    font-weight: 700;
}

.dropdown-buttons {
    display: flex;
    gap: 20px;
    /* width: 70%; */
}

#clear-btn {
    background-color: var(--white-color);
    color: var(--button-color);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 3px 7px 0px rgba(0, 0, 0, 0.1),
        0px 12px 12px 0px rgba(0, 0, 0, 0.09),
        0px 27px 16px 0px rgba(0, 0, 0, 0.05),
        0px 48px 19px 0px rgba(0, 0, 0, 0.01),
        0px 75px 21px 0px rgba(0, 0, 0, 0);
    margin: 0;
    padding: 21px 118.5px;
    width: 50%;
}
#select-button {
    padding: 21px 152.4px;
    width: 50%;
}

/* Сховати оригінальний чекбокс */
.checkbox-container input,
.filter-container input {
    display: none;
}

/* Створення стилізованого чекбокса */
.checkbox-container .checkmark,
.filter-container .checkmark {
    display: flex;
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: auto 0px auto 0;
}

/* Стилізація вигляду "чекбокса" */
.checkbox-container .checkmark::before,
.filter-container .checkmark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: 1px solid rgba(131, 131, 131, 1);
}

/* Стилізація позначки "галочки" */
.checkbox-container input:checked ~ .checkmark::after,
.filter-container input:checked ~ .checkmark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url("./../img/check-alt-svgrepo-com1.svg");
    background-repeat: no-repeat;
    background-color: rgba(15, 164, 174, 1);
    border-radius: 3px;
    background-position: center;
}

.popup {
    display: none;
    width: 780px;
    border-radius: 20px;
    background-color: var(--white-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 100px;
    z-index: 10000;
}

.active-popup {
    display: block;
}
.popup-container {
    /* position: relative; */
}
.popup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popup-form input {
    /* height: 64px; */
    padding: 19px 28px;
}
.popup-form input,
.popup-form textarea {
    border-radius: 10px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    width: 100%;
}
.popup-form textarea {
    padding: 28px;
}
.popup-title {
    margin: 0 auto;
    color: var(--text-color-all);
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
}
.popup-btn.btn {
    margin: 0 auto;
}
.popup-close {
    position: absolute;
    top: -50px;
    right: -50px;
}
.popup-close img {
    pointer-events: none;
}

.no-scroll-drop-popup {
    overflow: hidden;
}
