@media (min-width: 768px) {
    .img-one {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .header .article__container {
        background-image: url("./../../../../img/article/Rectangle-639-article-1024.png")
    }
    .article .container,
    .employment .container,
    .similar__publications .container {
        margin: 0 51px 0 54px;
    }
    .article__title {
        font-size: 38px;
        line-height: 38px;
        text-align: left;
    }
    .article__subtitle {
        font-size: 24px;
        line-height: 36px;
        width: 75%;
        margin: 0 0 60px 0;
    }
    .article__flex-box,
    .employment__wrapper {
        display: flex;
        gap: 38px;
        align-items: flex-start;
        justify-content: center;
    }
    .article__work-poland p,
    .employment__media {
        font-size: 16px;
        line-height: 24px;
    }
    .article__find-work,
    .read__more {
        width: 280px;
    }
    .article__work-poland,
    .employment__content {
        /* width: 601px; */
    }
    .article__work-poland h2,
    .employment__title,
    .article__work-poland span,
    .employment__title span  {
        text-align: left;
        font-size: 38px;
        line-height: 38px;
    }
    .img-one {
        display: none;
    }
    .img-two-none {
        display: block;
    }
    .image .container {
        padding: 0;
    }
    .image__wrapper {
        margin: 0 0 40px 0;
    }
    .employment__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 38px;
    }
    .similar__title {
        width: 30%;
        text-align: left;
        margin: 0 0 40px 0;
    }
    .similar__content {
        width: 600px;
        margin-left: auto;
    }
    .similar__media-box {
        display: flex;
    }
    .div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .similar__img {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 1440px) {
    .header .article__container {
        background-image: url("./../../../../img/article/Rectangle-639-article-1440.png")
    }
    .article .container,
    .employment .container,
    .image .container,
    .similar__publications .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 130px;
    }
    .breadcrumbs .article__breadcrumbs-container {
        padding: 0 130px;
    }
    .article__title {
        margin: 0 0 60px 0;
    }
    .article__subtitle {
        width: 780px;
        margin: 0 0 131px 0;
    }
    .article__flex-box, 
    .employment__wrapper {
        gap: 120px;
    }
    .article__work-poland, 
    .employment__content {
        width: 780px;
    }
    .article__work-poland {
        gap: 40px;
        margin: 0 0 80px 0;
    }
    .img-two-none {
        display: none;
    }
    .img-three-none {
        display: block;
    }
    .image .container {
        margin: 0 auto;
        padding: 0;
    }
    .image__wrapper {
        margin: 0 0 80px 0;
    }
    .employment__media p,
    .employment__title {
        margin: 0 0 40px 0;
    }
    .employment__media {
        margin: 0 0 80px 0;
    }
    .employment__media ul {
        margin: 0 0 40px 0;
    }
    .similar-none {
        display: block;
    }
    .similar__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }
}