@media (min-width: 1024px) {
    .additional .container {
        padding: 0 51px 0 52px;
    }
    .additional__wrapper {
        display: flex;
    }
    .additional__block-1-content {
        margin: 0 42px 0 0;
    }
    .additional__item {
        width: 270px;
        margin: 0 0 40px 0;
    }
    .additional .line {
        margin: 0 0 40px 0;
    }
    .additional__block-1 .title {
        font-size: 24px;
        letter-spacing: -0.48px;
    }
    .additional__block-2 .title {
        font-size: 24px;
        line-height: 36px;
    }
    .additional__block-2 .text,
    .additional__block-2 ul {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
    }
    .additional__block-2-content {
        margin: 0 0 60px 0;
    }
}

@media (min-width: 1440px) {
    .additional .container {
        max-width: 1400px;
        padding: 114px 130px 120px;
    }
}