@media (min-width: 320px) {
    .salary-img-two {
        display: none;
    }
    .salary__none {
        display: none;
    }
    .footer-sal-inner {
        display: none;
    }
}
/* @media (min-width: 375px) {
    
} */
@media (min-width: 768px) {
    .salary-img-one {
        display: none;
    }
    .salary-img-two {
        display: block;
        height: 300px;
    }
    .salary__media-wrapper {
        display: flex;
        justify-content: center;
    }
    .salary__media-box {
        width: 400px;
    }
    .doctor__salary-img {
        margin: 0 20px 0 0;
    }
    .doctor__salary-footer {
        justify-content: flex-end;
    }
    .doctor__salary .container {
        padding: 0 50px;
    }
    .doctor__salary-title {
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .doctor__salary .container {
        padding: 0 57px 0 52px;
    }
    .doctor__salary-container {
        display: flex;
        flex-direction: column;
    }
    .salary__media-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 36px;
    }
    .salary__media-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .salary__none {
        display: block;
        color: var(--text-color-all);
        font-family: var(--second-fonts);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin: 0 0 20px 0;
    }
    .doctor__salary-text {
        margin: 0 0 20px 0;
    }
    .doctor__salary-title {
        margin-bottom: 40px;
    }
    .small-scr {
        display: none;
    }
    ::placeholder {
        color: var(--text-color-all);
        font-family: var(--second-fonts);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    .salary-img-two {
        height: 100%;
    }
    .footer-sal-inner {
        display: flex;
    }
    .doctor__salary-footer {
        justify-content: flex-start;
    }
    .doctor__salary-title {
        width: 50%;
        text-align: left;
    }
}

@media (min-width: 1440px) {
    .doctor__salary .container {
        max-width: 1440px;
        padding: 0 130px;
    }
    .salary__media-wrapper {
        margin: 0 0 80px 0;
    }
    .doctor__salary-img {
        margin: 0;
    }
    .doctor__salary-img img {
        height: 380px;
    }
}