@media (min-width: 375px) {
    .block-none,
    .block-none-3, 
    .block-none-4 {
        display: none;
    }
    .next {
        rotate: 180deg;
    }
    .next,
    .prev {
        z-index: 3;
    }
}

@media (min-width: 1024px) {
    .block-none {
        display: block;
    }
    .block-none-3,
    .block-none-4 {
        display: none;
    }
    .media__container {
        display: flex;
        /* flex-direction: column; */
        padding: 58px 0 0 0;
        position: relative;
        /* width: 580px; */
    }
    .news__slide {
        display: flex;
    }
    .news__button-box {
        align-items: flex-start;
        margin-right: auto;
    }
    .prev,
    .next {
        position: absolute;
    }
    .prev {
        right: 176px;
    }
    .next {
        right: 56px;
        rotate: 180deg;
    }
    .media__container-inner {
        flex-direction: column;
        background-color: var(--white-color);
        border-radius: 10px;
    }
    .media__container-inner,
    .media__container-wrapper {
        display: flex;
    }
    .media__container-wrapper {
        flex-direction: column;
    }
    .news__image img {
        width: 100%;
        height: 187px;
    }
    .news__content-block  {
        width: 440px;
    }
    .news__image {
        /* margin: 0 20px 20px 0; */
    }
    .news__main-title {
        margin: 0 0 0 54px;
    }
}

@media (min-width: 1440px) {
    .news .container {
        max-width: 1400px;
        padding: 0 110px;
        /* position: absolute; */
        /* margin: 0 auto; */
    }
    .news__wrapper {
        position: relative;
    }
    .media__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column-gap: 20px;
    }
    .news__button-box  {
        margin: 0;
    }
    .news__main-title {
        position: absolute;
        margin: 0;
    }
    .news__content-block {
        width: 580px;
    }
    .block-none-3,
    .block-none-4 {
        display: block;
    }
    .next {
        right: -8%;
        top: 43%;
    }
    .prev {
        left: -58%;
        top: 43%;
    }
}