@media (min-width: 768px) {
    .mega__list {
        justify-items: center;
    }
    .profession__title {
        text-align: left;
        width: 80%;
    }
    .mega__list {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer__col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer__wrapper .footer__col-2,
    .footer__wrapper .footer__col-3 {
        display: flex;
    }
    .footer .footer__wrapper {
        display: flex;
        text-align: left;
        gap: 40px;
    }
    .footer .footer__wrapper a {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .mega__list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 60px;
        margin: 0px 65px;
        padding: 0;
    }
    .profession__title {
        width: 60%;
        text-align: left;
        margin: 100px 0 40px 52px;
    }
}

@media (min-width: 1440px) {
    .profession .container {
        max-width: 1400px;
    }
    .mega__list {
        margin: 0px 148px;
    }
    .profession__title {
        margin: 100px 0px 40px 130px;
        width: 50%;
    }
    .profession__wrapper {
        margin: 0 0 128px 0;
    }
}
