@media (min-width: 768px) {
    .mega__list {
        justify-items: center;
    }
    .profession__title {
        text-align: left;
        width: 80%;
    }
    .mega__list {
        grid-template-columns: repeat(4, 1fr);
    }
   
}

@media (min-width: 1024px) {
    .mega__list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 60px;
        margin: 0px 65px;
        padding: 0;
    }
    .profession__title {
        width: 74%;
        margin: 0 0 40px 52px;
    }
    .profession__title,
    .profession__title span {
        text-align: left;
        font-size: 38px;
        line-height: 38px;
    }
}

@media (min-width: 1440px) {
    .profession .container {
        max-width: 1400px;
    }
    .mega__list {
        margin: 0px 148px;
    }
    .profession__title {
        text-align: left;
        font-size: 38px;
        line-height: 38px;
        width: 64%;
    }
    .profession__wrapper {
        margin: 0 0 128px 0;
    }
}
