@media (min-height: 375px) {
    .btn__prev, 
    .btn__next {
        top: 46%;
    }
}
@media (min-width: 1024px) {
    .testimonials {
        overflow: hidden;
    }
    .testimonials .container {
        max-width: 1400px;
        overflow: hidden;
    }
    #carousel {
        width: 680px;
        overflow: visible;
    }
    .card {
        width: 680px;
        padding: 30px 80px 27px;
    }
    .user__comments span {
        margin: 20px 0 0 0;
    }
    .user__comments p {
        font-size: 16px;
        line-height: 24px;
    }
    .btn__prev {
        left: 40px;
    } 
    .btn__next {
        right: 40px;
    }
    .btn__prev, 
    .btn__next {
        top: 53%;
    }
    .testimonials .title {
        margin: 70px auto 50px 49px;
        font-size: 38px;
        line-height: 38px;
    }
    .testimonials .title span {
        font-size: 38px;
        line-height: 38px;
    }

}

@media (min-width: 1440px) {
    .testimonials__wrapper {
        position: relative;
    }
}