@media (min-width: 1024px) {
    .footer__col-2, 
    .footer__col-3, 
    .footer__col-4 {
        display: block;
        text-align: left;
    }
    .footer__wrapper {
        display: flex;
        padding: 87px 56px 42px 51px;
    }
    .footer__col-1 {
        text-align: left;
        margin: 0 87px 0 0;
    }
    .footer__col-2 {
        width: 227px;
        white-space: nowrap;
        margin: 0 107px 0 0;
    }
    .footer__col-2 ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .footer__col-2 ul > li {
        margin: 0;
        font-family: var(--main-fonts);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.28px;
    }
    .footer__col-3 {
        width: 235px;
        white-space: nowrap;
    }
    .footer__col-3 ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .footer__col-3 ul > li {
        margin: 0;
        font-family: var(--main-fonts);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.28px;
    }
    .footer .logo {
        margin: 0 0 150px 0;
    }
}

@media (min-width: 1440px) {
    .footer .container {
        max-width: 1400px;
        margin: 0 auto;
        /* padding: 0 20px; */
    }
    .footer__col-1, 
    .footer__col-2, 
    .footer__col-3, 
    .footer__col-4 {
        width: 100%;
    }
}