@media (min-width: 375px) {
    .form .container {
        padding: 0;
    }
    .work-time, .work-tell-1, .work-tell-2, .work-mail {
        width: 100%;
    }
    iframe {
        width: 315px;
        height: 199px;
    }
}

@media (min-width: 768px) {
    .fb-col-1,
    .fb-col-2 {
        width: 195px;
    }
    iframe {
        width: 100%;
        height: 199px;
    }
    
}

@media (min-width: 1024px) {
    .form .container {
        max-width: 100%;
    }
    .form__box {
        display: flex;
        gap: 40px;
        padding: 43px 30px 66px;
    }
    iframe {
        width: 480px;
        height: 305px;
    }
    .fb-col-1 {
        display: flex;
        flex-direction: column;
    }
    .fb-col-1,
    .fb-col-2 {
        width: 43%;
    }
}

@media (min-width: 1440px) {
    .form .container {
        max-width: 1400px;
    }
    .form__box {
        display: flex;
        gap: 120px;
        padding: 43px 110px 66px;
    }
    .main__form {
        width: 580px;
    }
}