@media (min-width: 768px) {
    .why__wrapper,
    .why__wrapper-inner,
    .why .title {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .why__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .why .title,
    .why .title span {
        font-size: 58px;
        font-weight: 600;
        line-height: 58px;
    }
    .badge {
        width: 334px;
        height: 327px;
    }
    .badge img {
        height: 263px;
        width: 260px;
    }
    .grid-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .grid-2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .grid-4 {
        grid-area: 4 / 1 / 5 / 2;
    }
    .grid-5 {
        grid-area: 5 / 1 / 6 / 2;
    }
    .grid-6 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .grid-7 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .grid-8 {
        grid-area: 3 / 2 / 6 / 3;
    }
    .why .badge__box .title {
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.36px;
    }
}

@media (min-width: 1024px) {
    .why .container {
        padding: 0 52px 0 54px;
    }
    .why__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 41px;
        grid-row-gap: 49px;
        align-items: start;
    }
    .grid-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .grid-2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .grid-3 {
        grid-area: 1 / 3 / 2 / 4;
    }
    .grid-4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-5 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .grid-6 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .grid-7 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .grid-8 {
        grid-area: 2 / 3 / 5 / 4;
    }
    .badge {
        width: 100%;
    }
    .why__wrapper-inner {
        align-items: flex-start;
        margin: 0;
    }
    .why__wrapper-inner .text {
        margin: 0;
    }
    .why .title {
        align-items: flex-start;
        margin: 0 0 50px 0;
    }
}

@media (min-width: 1440px) {
    .why .container {
        max-width: 1400px;
        padding: 0 130px 0 130px;
        /* margin: 0 auto 120px auto; */
    }
    .why__wrapper {
        grid-row-gap: 130px;
    }
    .why .why__wrapper-inner .text {
        width: 97%;
    }
}
