@media (max-width: 375px) {
    .header .navigation .email,
    .header .navigation .tell,
    .header .navigation .language__menu {
        display: none;
    }
    .header .navigation .navigation__burger .email,
    .header .navigation .navigation__burger .tell,
    .header .navigation .navigation__burger .language__menu {
        display: block;
    }
    .header .container .navigation .navigation__list {
        display: none;
    }
}

@media (min-width: 425px) {
    .header .navigation .email,
    .header .navigation .tell,
    .header .navigation .language__menu {
        display: none;
    }
    .header .navigation .navigation__burger .email,
    .header .navigation .navigation__burger .tell,
    .header .navigation .navigation__burger .language__menu {
        display: block;
    }
    .header .container .navigation .navigation__list {
        display: none;
    }
    .header__box {
        width: 70%;
        align-items: center;
    }
    .header .container {
        background-image: url("./../../../img/doctor-women.png");
        background-repeat: no-repeat;
        background-position: 70% 100%;
    }
    .badge {
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .header .navigation .email,
    .header .navigation .tell,
    .header .navigation .language__menu {
        display: none;
    }
    .header .navigation .navigation__burger .email,
    .header .navigation .navigation__burger .language__menu {
        display: block;
    }
    .header .container .navigation .navigation__list {
        display: none;
    }
}

@media (max-width: 600px) {
    .header .container {
        background-position: 100% 100%;
    }
}

@media (min-width: 768px) {
    .header .navigation .email {
        margin-left: auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.28px;
        margin-left: auto;
        display: block;
    }
    .header .navigation .tell {
        display: none;
    }
    .header .navigation .language__menu {
        margin: 0 0 0 40px;
        display: block;
    }
    .btn__burger {
        margin: 0 17px 0 40px;
    }
    .header__box {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-gap: 20px;
        width: fit-content;
        align-items: start;
        grid-column-gap: 20px;
        grid-row-gap: 0;
    }
    .header {
        background-position: 70% 100%;
    }
    .header .navigation .navigation__burger .email,
    .header .navigation .navigation__burger .language__menu {
        margin-left: 0;
    }
    .header .container {
        background-image: url("./../../../img/doctor-women-768.png");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 300px;
        height: 687px;
    }
    .header .container .navigation .navigation__list {
        display: none;
    }
    .header .container .navigation .navigation__burger .navigation__list {
        width: fit-content;
    }
    .media__wrapper .title,
    .media__wrapper .text {
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        width: 55%;
        text-align: left;
    }
    .sticky {
        left: 20px;
        right: 20px;
    }
    .media__wrapper .btn {
        width: fit-content;
        margin: 0 0 30px 0;
    }
    .small__box {
        padding: 11px 22px 25px;
        border-radius: 20px;
    }
    .small__box h3 {
        font-size: 32px;
    }
    .small__box p {
        font-size: 14px;
        line-height: 20px;
    }
    .small__box.media-one {
        width: 180px;
        height: 140px;
    }
    .small__box.media-three {
        width: 180px;
        height: 120px;
        margin: 20px 0 0 0;
    }
    .small__box.media-two {
        width: 170px;
        height: 120px;
    }
    .small__box.media-four {
        width: 170px;
        height: 140px;
    }
}

@media (min-width: 1024px) {
    .header {
        position: relative;
        margin: 0 0 60px 0;
    }
    .header .container {
        /* max-width: 1024px; */
        margin: 20px 20px 0 20px;
        padding: 20px 32px 0 34px;
        border-radius: 20px;
        background-image: url("./../../../img/doctors-women-1.png");
        background-repeat: no-repeat;
        background-size: 443px, 650px;
        background-position: 103% 100%;
        height: 650px;
    }
    .navigation {
        padding: 24px 0;
        margin: 0;
        z-index: 2;
        left: 50px;
        right: 50px;
    }
    .logo img {
        margin: 0 0 0 40px;
    }
    .title {
        font-size: 64px;
        font-weight: 600;
        line-height: 70.4px;
        text-align: left;
    }
    .text {
        width: 60%;
        text-align: left;
        margin: 0 0 20px 0;
    }
    .small__box p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .media__wrapper {
        display: flex;
        flex-direction: column;
        width: 65%;
        align-items: flex-start;
        margin-bottom: 83px;
    }
    .btn {
        width: 227px;
        padding: 21px 50px;
        margin: 0 0 131px 0;
    }
    .small__box {
        position: absolute;
        width: 170px;
        height: 120px;
        font-size: 14px;
        line-height: 20px;
        padding: 11px 22px 25px;
        border-radius: 20px;
    }
    .media-one {
        top: 380px;
        right: 348px;
    }
    .media-two {
        top: 169px;
        right: 52px;
    }
    .media-three {
        top: 520px;
        right: 348px;
    }
    .media-four {
        top: 329px;
        right: 52px;
        height: 140px;
    }
    .small__box h3 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1.28px;
        margin: 0 0 5px 0;
    }
    .header .navigation .email {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.28px;
    }
    .header .navigation .language__menu {
        margin: 0 0 0 40px;
    }
    .btn__burger {
        margin: 0 29px 0 40px;
    }
    .header .navigation .navigation__burger .email,
    .header .navigation .navigation__burger .tell,
    .header .navigation .navigation__burger .language__menu {
        margin: 0 0 20px 0;
    }
    .navigation__burger {
        z-index: 1;
    }
    .header .navigation .tell {
        display: inline-block;
        margin-left: auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.28px;
        /* margin-left: auto; */
    }
    .media__wrapper .title {
        width: 100%;
    }
    .media__wrapper .text {
        width: 64%;
    }
}

@media (min-width: 1440px) {
    .header {
        margin: 0 0 120px 0;
    }
    .btn__burger {
        display: none;
    }
    .header .navigation .language__menu {
        margin: 0 51px 0 40px;
    }
    .header .container .navigation .navigation__list {
        display: flex;
        margin-left: auto;
        white-space: nowrap;
    }
    .header .container .navigation .navigation__list .navigation__item {
        margin: 0;
        /* display: flex; */
    }
    .header .container .navigation .navigation__list .navigation__item a:after {
        content: "";
        position: absolute;
        bottom: -26px;
        width: 100%;
        left: 0;
        height: 4px;
        background-color: var(--button-color);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }
    .header
        .container
        .navigation
        .navigation__list
        .navigation__item
        a:hover::after {
        transform: scaleX(1);
    }
    .header .container .navigation .navigation__list .navigation__item a {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: -0.28px;
        font-weight: 400;
        position: relative;
        padding: 0 15px;
    }
    .header .navigation .email {
        margin-left: 37px;
    }
    .header .container {
        max-width: 1400px;
        margin: 20px auto 0 auto;
        padding: 20px 59px 0 61px;
        position: relative;
        background-position: 864px 100%;
        display: flex;
        flex-direction: column;
    }
    .media__wrapper {
        width: 50%;
        margin: auto 0 83px 51px;
    }
    .small__box {
        width: 180px;
    }
    .media-one {
        top: 323px;
        right: 510px;
    }
    .media-two {
        top: 149px;
        right: 98px;
    }
    .media-three {
        top: 483px;
        right: 510px;
    }
    .media-four {
        top: 309px;
        right: 98px;
    }
    .header .navigation .tell {
        margin-left: 27px;
    }
    .sticky {
        left: auto;
        right: auto;
        width: 1280px;
    }
    .navigation {
        max-width: 1280px;
    }
}
