.header .article__container {
    background-image: url("./../../img/article/header-article-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120px;
    margin: 10px 10px 0 10px;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

.breadcrumbs__inner {
    margin: 0 0 25px 0;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__list li {
    display: flex;
    position: relative;
}

.breadcrumbs__list li + li {
    padding-left: 24px;
}

.breadcrumbs__list li + li::before {
    content: "";
    background-image: url("./../../img/article/skobka.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 6px;
    height: 8px;
    position: absolute;
    left: 8px;
    bottom: 5px;
}

.breadcrumbs__list li:last-child a,
.breadcrumbs__list li:last-child span {
    color: var(--subtitle-color);
    font-family: var(--second-fonts);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    white-space: nowrap;
    width: 260px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.breadcrumbs a {
    color: var(--breadcrumbs);
    font-family: var(--second-fonts);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 3px 7px 0px rgba(0, 0, 0, 0.1),
        0px 12px 12px 0px rgba(0, 0, 0, 0.09),
        0px 27px 16px 0px rgba(0, 0, 0, 0.05),
        0px 48px 19px 0px rgba(0, 0, 0, 0.01),
        0px 75px 21px 0px rgba(0, 0, 0, 0);
}

.pagination a {
    padding: 17px 17px;
    color: var(--text-color-all);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
}

.pagination a.active {
    background-color: var(--title-color-second);
    color: var(--white-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.pagination__next {
    rotate: 180deg;
}

.pagination__none {
    display: none;
}

.header__article .sticky {
    left: 27.5px;
    right: 27.5px;
}

.article__work-poland {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 40px 0;
}

.article__work-poland h6,
.doktor-to-do h6,
.primary-requirements h6 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: var(--text-color-all);
}

.article__work-poland h6 span {
    color: var(--title-color-second);
}

.article__work-poland p,
.doktor-to-do p,
.primary-requirements p {
    color: var(--text-color-all);
    font-family: var(--second-fonts);
    font-size: 14px;
    line-height: 21px;
}

.doktor-to-do h6,
.primary-requirements h6 {
    margin: 0 0 20px 0;
    color: var(--title-color-second);
}

.doktor-to-do h6 span,
.primary-requirements h6 span {
    color: var(--text-color-all);
}

.doktor-to-do {
    margin: 0 0 60px 0;
    font-family: var(--second-fonts);
    font-size: 14px;
    line-height: 21px;
}

.doktor-to-do p {
    margin: 0 0 20px 0;
}

.doktor-to-do-list {
    list-style: disc;
    padding: 0 0 0 30px;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-color-all);
    margin: 0 0 20px 0;
    font-family: var(--second-fonts);
}

.image {
    margin: 0 0 60px 0;
}

.image img {
    border-radius: 10px;
}

.primary-requirements p {
    margin: 0 0 20px 0;
}

.primary-requirements .primary-requirements-subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    font-family: var(--main-fonts);
}
