.doctor__salary-container {
    margin: 0 0 40px 0;
}

.doctor__salary-wrapper {
    margin: 0 0 40px 0;
}

.doctor__salary-title {
    color: var(--text-color-all);
    font-size: 30px;
    font-weight: 600;
    line-height: 100%;
    margin: 0 0 24px 0;
}

.doctor__salary-title span {
    color: var(--title-color-second);
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

.doctor__salary-img {
    margin: 0 0 20px 0;
}

.doctor__salary-text {
    color: var(--text-color-all);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 10px 0;
}

.doctor__salary-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.doctor__salary-footer p {
    color: var(--title-color-second);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}

.link {
    height: 40px;
}

.link svg {
    fill: red;
}
