.form__box {
    background-color: var(--title-color-second);
    border-radius: 20px;
    padding: 30px 30px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.contacts .title {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 30px 0;
}

.work-date {
    color: var(--white-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 10px 0;
}

.work-time,
.work-tell-1,
.work-tell-2,
.work-mail {
    color: var(--white-color);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 40px 0;
    width: 178px;
}

.work-tell-1 {
    margin-bottom: 0;
}

.work-tell-2 {
    margin-bottom: 23px;
}

.work-tell-1:hover,
.work-tell-2:hover {
    text-decoration: underline;
}

.fb-col-2 {
    display: flex;
    flex-direction: column;
}

.flex-box {
    display: flex;
}

.main__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__form input {
    margin: 0 0 20px 0;
    height: 64px;
    border-radius: 10px;
    padding: 0 28px;
    border: 1px solid rgba(85, 85, 85, 0.50);
}

.form__col-2 .title {
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
}







/* 
.custom-select {
    position: relative;
}

.custom-select select {
    display: block;
}

.select-selected {
    background-color: var(--white-color);
    border-radius: 10px;
    height: 64px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 30px;
    right: 25px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #0fa4ae transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #0fa4ae transparent;
    top: 20px;
}

.select-items div,
.select-selected {
    color: var(--text-color-all);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: var(--white-color);
    top: 76%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
    max-height: 300px;
    overflow: auto;
}

.select-hide {
    display: none;
} */

.arena-text {
    width: 100%;
    height: 168px;
    resize: none;
    border-radius: 10px;
    padding: 24px 28px;
    margin: 0 0 20px 0;
}

.form-btn.btn {
    margin: 0;
    width: 100%;
    height: 70px;
}
/* .select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
} */

.dropdown-speciality,
.dropdown-speciality-small,
.dropdown-speciality-small-popup {
    position: relative;
    background-color: var(--white-color);
    border-radius: 10px;
    height: 64px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 28px;
    font-family: var(--second-fonts);
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid rgba(85, 85, 85, 0.50);
}
.speciality,
.speciality-small {
    pointer-events: none;
}

.dropdown-speciality:after,
.dropdown-speciality-small:after,
.dropdown-speciality-small-popup:after {
    position: absolute;
    content: "";
    top: 30px;
    right: 25px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #0fa4ae transparent transparent transparent;
}

::placeholder {
    color: var(--text-color-all);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}



.error-message {
    font-weight: 700;
    font-size: 18px;
    pointer-events: none;
}







.dropdown-speciality-small-filter {
    border-radius: 10px;
    border: 1px solid rgba(85, 85, 85, 0.50);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 7px 0px rgba(0, 0, 0, 0.10), 0px 12px 12px 0px rgba(0, 0, 0, 0.09), 0px 27px 16px 0px rgba(0, 0, 0, 0.05), 0px 48px 19px 0px rgba(0, 0, 0, 0.01), 0px 75px 21px 0px rgba(0, 0, 0, 0.00);
    height: 310px;
    overflow-y: hidden;
    position: absolute;
    /* z-index: 5; */
    background-color: var(--white-color);
    bottom: 14%;
    transform: translateY(25%);
    /* left: 0; */
    /* right: 0; */
    display: none;
}

.open-popup-small {
    display: block;
}

.number-selected-small-filter {
    font-weight: 900;
    color: var(--title-color-second);
}

.filter-input {
    border-radius: 10px 10px 0px 0px;
    background-color: #F9FAFB;
    padding: 20px 8px;
    width: 580px;
    /* position: fixed; */
    /* z-index: 1; */
    /* right: 0; */
    /* left: 0; */
    /* width: 100%; */
}

.dropdown-speciality-small-filter .filter-input input {
    border-radius: 10px;
    border: 1px solid rgba(85, 85, 85, 0.50);
    width: 100%;
}

.filter-wrapper {

}

.filter-container {
    height: 212px;
    overflow-y: scroll;
    padding: 15px 25px;
    /* margin: 100px 0 0 0; */
}

.checkbox-container {
    display: flex;
}


