.form__box {
    background-color: var(--title-color-second);
    border-radius: 20px;
    padding: 30px 30px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.contacts .title {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 30px 0;
}

.work-date {
    color: var(--white-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 10px 0;
}

.work-time,
.work-tell-1,
.work-tell-2,
.work-mail {
    color: var(--white-color);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin: 0 0 40px 0; */
    width: 178px;
}

.work-mail,
.work-time {
    margin: 0 0 30px 0;
}

.work-tell-1 {
    margin-bottom: 0;
}

.work-tell-2 {
    margin-bottom: 23px;
}

.work-tell-1:hover,
.work-tell-2:hover {
    text-decoration: underline;
}

.fb-col-2,
.fb-col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coll-us {
    color: var(--white-color);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 20px 0;
}

.flex-box {
    display: flex;
    /* margin: 0 0 30px 0; */
}

.main__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__form input {
    /* margin: 0 0 20px 0; */
    height: 64px;
    width: 100%;
    border-radius: 10px;
    padding: 0 28px;
    border: 1px solid rgba(85, 85, 85, 0.5);
}

.form__col-2 .title {
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
}

/* 
.custom-select {
    position: relative;
}

.custom-select select {
    display: block;
}

.select-selected {
    background-color: var(--white-color);
    border-radius: 10px;
    height: 64px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 30px;
    right: 25px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #0fa4ae transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #0fa4ae transparent;
    top: 20px;
}

.select-items div,
.select-selected {
    color: var(--text-color-all);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: var(--white-color);
    top: 76%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
    max-height: 300px;
    overflow: auto;
}

.select-hide {
    display: none;
} */

.arena-text {
    width: 100%;
    height: 168px;
    resize: none;
    border-radius: 10px;
    padding: 24px 28px;
    margin: 0 0 20px 0;
}

.form-btn.btn {
    margin: 0;
    width: 100%;
    height: 70px;
}
/* .select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
} */

.dropdown-speciality,
.dropdown-speciality-small,
.dropdown-speciality-small-popup {
    position: relative;
    background-color: var(--white-color);
    border-radius: 10px;
    height: 64px;
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    padding: 0 28px;
    font-family: var(--second-fonts);
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid rgba(85, 85, 85, 0.5);
}
.speciality,
.speciality-small {
    position: absolute;
    top: 40%;
    left: 5%;
}
.speciality,
.speciality-small {
    pointer-events: none;
}


.dropdown-speciality:after,
.dropdown-speciality-small:after,
.dropdown-speciality-small-popup:after {
    position: absolute;
    content: "";
    top: 30px;
    right: 25px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #0fa4ae transparent transparent transparent;
}

::placeholder {
    color: var(--text-color-all);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.error-message {
    font-weight: 700;
    font-size: 18px;
    pointer-events: none;
}

.dropdown-speciality-small-filter,
.dropdown-speciality-small-filter-main {
    border-radius: 10px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        0px 3px 7px 0px rgba(0, 0, 0, 0.1),
        0px 12px 12px 0px rgba(0, 0, 0, 0.09),
        0px 27px 16px 0px rgba(0, 0, 0, 0.05),
        0px 48px 19px 0px rgba(0, 0, 0, 0.01),
        0px 75px 21px 0px rgba(0, 0, 0, 0);
    height: 310px;
    overflow-y: hidden;
    position: absolute;
    /* z-index: 5; */
    background-color: var(--white-color);
    bottom: 90px;
    transform: translateY(25%);
    /* left: 0; */
    /* right: 0; */
    display: none;
}

.open-popup-small {
    display: block;
}

.number-selected-small-filter,
.number-selected-small,
.number-selected {
    font-weight: 900;
    color: var(--title-color-second);
}

.filter-input {
    border-radius: 10px 10px 0px 0px;
    background-color: #f9fafb;
    padding: 20px 8px;
    width: 580px;
    /* position: fixed; */
    /* z-index: 1; */
    /* right: 0; */
    /* left: 0; */
    /* width: 100%; */
}

.dropdown-speciality-small-filter .filter-input input {
    border-radius: 10px;
    border: 1px solid rgba(85, 85, 85, 0.5);
    width: 100%;
}

.filter-wrapper {
}

.filter-container {
    height: 212px;
    overflow-y: scroll;
    padding: 15px 25px;
    /* margin: 100px 0 0 0; */
}

.checkbox-container {
    display: flex;
}








.main-form-box,
.form-popup-box {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid transparent;
}

.error-label {
    color: red;
    background-color: var(--white-color);
    position: absolute;
    right: 5%;
    top: 35%;
    /* transform: translateY(-50%); */
    /* white-space: nowrap; */
    font-size: 14px;
    pointer-events: none;
}

.main-form-box.error,
.form-popup-box.error {
    border: 1px solid red;
    border-radius: 11px;
}



.filter-main-open {
    display: block;
}

.dropdown-speciality-small-filter-main {
    /* top: 365px; */
    width: 315px;
}

/* .main-form-box.drop-small {
    display: none;
} */
.dropdown-speciality-small-filter-main .filter-input {
    width: 100%;

}