.requierements {
    background: linear-gradient(180deg, rgba(172, 230, 234, 0.00) -10%, #ACE6EA 100%);
    padding: 60px 0 1px 0;
}

.requierements__wrapper {
    background-image: url("./../../img/doctor-men.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border-radius: 20px;
    background-color: var(--white-color);
    padding: 39px 22px 0 23px;
    margin: 0 0 40px 0;
}

.requierements .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

.requierements .title span {
    color: var(--title-color-second);
}

.requierements__content {
    margin: 0 0 30px 0;
}

.requierements__number {
    color: var(--title-color-second);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0 0 10px 0;
}

.requierements__title {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 0 0 10px 0;
}

.subtitle {
    color: var(--subtitle-color);
    font-family: var(--second-fonts);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.requierements .btn {
    margin: 32px 0 118px 0;
    text-align: center;
    font-weight: 700;
    line-height: 28px; 
    width: 227px;
    padding: 21px 50px;
}
