.testimonials {
}
.testimonials .container {
    padding: 0 35px 0 40px;
}
.testimonials__wrapper {
}
.testimonials .title span,
.testimonials .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.testimonials .title span {
    color: var(--title-color-second);
}
.testimonials__slider {
}
.testimonials__slide {
    padding: 11px 20px 25px;
    background-color: #ccc;
    border-radius: 20px;
}
.user {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}
.user img {
    margin: 0 20px 0 0;
}
.user__info {
}
.user__name {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}
.user__text {
    color: var(--subtitle-color);
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
}
.user__text span {
    color: var(--subtitle-color);
    font-family: var(--second-fonts);
    font-size: 10px;
    font-style: italic;
    line-height: normal;
}
.user__comments p {
    font-family: var(--second-fonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.user__comments span {
    font-family: var(--second-fonts);
    font-size: 10px;
    line-height: 15px;
    display: block;
    text-align: right;
    margin: 10px 0 0 0;
}
















.swiper {
    width: 100%;
    padding-top: 3.125rem;
}

.swiper-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    background-color: #ccc;
    border-radius: 20px;
    padding: 11px 20px 25px;
}

.swiper-pagination {
    bottom: 1.25rem !important;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: var(--color-light);
}

.swiper-slide-active .c-card {
    display: block;
    opacity: 1;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

@media screen and (min-width: 93.75rem) {
    .swiper {
    width: 85%;
    }
}