.why__wrapper {
    /* margin: 0 0 60px 0; */
}
.why__content .title {
    margin: 0 0 30px 0;
}

.why__content .title,
.why__content .title span  {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px; 
}

.why__content .title span {
    color: var(--title-color-second);
    display: inline-block;
}

.why__wrapper-inner {
    margin: 0 0 24px 0;
}

.why .why__wrapper-inner .title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    margin: 0 0 10px 0;
    text-align: left;
    line-height: normal;
}

.why .why__wrapper-inner .text {
    color: var(--subtitle-color);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.why .line {
    width: 80px;
    margin: 0 0 10px 0;
}

.badge {
    padding: 0 15px 20px 20px;
    border-radius: 20px;
    /* filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1)) 
    drop-shadow(0px 8px 18px rgba(0, 0, 0, 0.1)) 
    drop-shadow(0px 32px 32px rgba(0, 0, 0, 0.09)) 
    drop-shadow(0px 72px 43px rgba(0, 0, 0, 0.05)) 
    drop-shadow(0px 128px 51px rgba(0, 0, 0, 0.01)) 
    drop-shadow(0px 201px 56px rgba(0, 0, 0, 0)); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 10px;
    background-color: var(--white-color);
}

.badge__box {
    display: flex;
    gap: 8px;
    align-items: center;
}

.badge img {
    width: 225px;
    height: 278px;
}


.why .badge__box .title {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.44px;
    margin: 0;
}