.why__content {
    margin: 0 0 80px 0;
}

.why__content .title {
    margin: 0 0 30px 0;
}

.why__content .title,
.why__content .title span  {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px; 
}

.why__content .title span {
    color: var(--title-color-second);
    display: inline-block;
}

.why__wrapper-inner {
    margin: 0 0 24px 0;
}

.why .why__wrapper-inner .title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    margin: 0 0 10px 0;
    text-align: left;
    line-height: normal;
}

.why .why__wrapper-inner .text {
    color: var(--subtitle-color);
    font-family: var(--second-fonts);
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.why .line {
    width: 80px;
    margin: 0 0 10px 0;
}

.badge {
    border: 1px solid; 
    padding: 0 15px 20px 30px;
    border-radius: 20px;
}

.badge__box {
    display: flex;
}

.why .badge__box .title {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.44px;
    margin: 0;
}